<div class="footer">
    <center>
        @year
        <br>
        <br>
        @version
    </center>
</div>

@code {
    int year = DateTime.Now.Year;
    string version = "Version 1.4 / Beta";

}